/* ----------------------------- filter */


.filter-container {
    padding: 16px;
}

.filter-container h3 {
    font-size: 14px;
    margin-bottom: 8px;
}

.filter-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: nowrap;
    overflow: auto;
    width: calc(100% + 32px);
    margin-left: -16px;
    padding-left: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.filter-content::-webkit-scrollbar {
    display: none;
}

.filter-pill {
    background-color: var(--color-black);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 24px;
}

.filter-label {
    color: var(--color-light);
    white-space: nowrap;
    font-size: 14px;
}

.filter-action {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-black-light);
}