.author {
    display: flex;
    gap: 0 12px;
    align-items: center;
}

.author img {
   
    width: 100%;
    max-width: 42px;
    max-height: 42px;
    border-radius: 50%;
}

.author span {
    color: var(--color-black-pearl-900);
}
