nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 1rem;
    list-style-type: none;
}

nav ul li {
    overflow: hidden;
    align-self: center;
    padding: 2px;
}

nav ul li a {
    color: var(--sky-100);
    text-decoration: none;
}

nav ul li:hover {
    font-weight: bold;
}

.menu-button-container {
    display: none;
    width: 30px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sky-100);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
    margin-top: -8px;
    content: '';
}

.menu-button::after {
    margin-top: 8px;
    content: '';
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgb(255 255 255 / 0%);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}


@media only screen and (width <= 768px) {
    .menu-button-container {
        display: flex;
    }

    nav ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 0;
    }

    ul > li {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0.5em 0;
        margin: 0;
        background-color: var(--sky-800);
        color: white;
    }

    ul > li:not(:last-child) {
        border-bottom: 1px solid var(--sky-900);
    }

    #menu-toggle ~ ul li {
        height: 0;
        padding: 0;
        border: 0;
        margin: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ ul li {
        height: 2.5em;
        padding: 0.5em;
        border: 1px solid var(--sky-700);
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
}