@use "../../styles/tools.scss";

.card { 
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    padding: 16px 16px 32px;
    box-shadow: 0px 6px 16px rgba(27,91,100, 0.25);
    background: var(--color-back-pearl-0);

}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    justify-content: space-between;
}

.card img {
    object-fit: cover;
    aspect-ratio: 2/1;
    height: 200px;

    @include tools.desktop {
        height: 220px;
    }
}

.card section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 8px 0;
}

.card header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.card footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@include tools.desktop {
    .card.is-extended {
        background: var(--color-aquarius-900);
        flex-direction: row;
        grid-column: 1 / 4;
        padding: 48px;
        gap: 48px;
        & > img {
            width: 660px;
            height: auto;
        }
        & > section {
            gap: 12px 0;
            // justify-content: flex-start;
        }
    }
    .card.is-reversed {
        flex-direction: row-reverse;
    }
}