.color-white {
    color: var(--color-white);
}

.size-md {
    font-size: 26px;
    line-height: 33px;
}

.size-sm {
    font-size: 18px;
    line-height: 25px;
}


.font-bold {
    font-weight: 700;
}

