
.tag {
    padding: 8px;
    background: var(--color-scooter);
    border-radius: 5px;
    font-family: Poppins;
    font-size: 13px;
    line-height: 35px;
     
}

.tag a {
    color: var(--color-white);
}