.card-container {
    border: 2px solid var(--main-color);
    padding: 12px;
    border-radius: 10px;
    background-color: #202020;
}

.card-container:hover {
    background-color: #121212;
    box-shadow: 1px 2px 4px var(--main-color);
}

.card-container .image-card {
    width: 100%;
    max-height: 180px;
    border-radius: 10px;
}

.card-container .title-card {
    font-size: var(--font-size-title-card);
    font-weight: 700;
    text-transform: uppercase;
}