.blog .post-list {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}

.post > :first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--sky-200);
    border-radius: 8px;
    background-color: var(--sky-100);
}

.post > :first-child:hover {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
}

.post a {
    color: var(--text-primary);
    text-decoration: none;
}

.post header {
    font-size: 1.1rem;
    font-weight: bold;
}

.post img {
    padding: 0.5em 0;
}

.post p {
    font-size: 1rem;
    text-align: justify;
}

.post footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    color: var(--text-title);
    font-size: 0.8rem;
    font-weight: bold;
}

.post .tags {
    justify-self: flex-end;
}

@media only screen and (width >= 576px) {
    .blog .post-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (width >= 768px) {
    .blog .post-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (width >= 992px) {
    .blog .post-list{
        grid-template-columns: repeat(3, 1fr);
    }
}