.button {
    display: inline-flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    height: 56px;
    border-radius: 2px;
    color: var(--color-aquarius-600);
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--color-aquarius-50);
    transition: background 0.2s ease-in-out;
}

.button-primary {
    background: var(--color-aquarius-600);

    &:hover {
        background: var(--color-aquarius-700);
        box-shadow: 0px 6px 10px rgba(44, 159 ,175 ,0.17);
        transition: background 0.2s ease-in-out;
    }
    &:disabled {
        background: var(--color-aquarius-200);
    }
} 

.button-secondary {
    background: var(--color-back-pearl-900);

    &:hover {
        background: var(--color-back-pearl-800);
        box-shadow: 0px 6px 10px rgba(27, 38 , 44,0.16);
        transition: background 0.2s ease-in-out;
    }
    &:disabled {
        background: var(--color-back-pearl-200);
    }
}
